                    <a href="#" data-toggle="modal" data-target="#update_avatar">
                    {{if avatar:}}
                      <img src="{{=URL('static', avatar.image)}}" class="img-circle" alt="User Image">
                    {{else:}}
                      <img src="{{=URL('static','img/avatar5.png')}}" class="img-circle" alt="User Image">
                    {{pass}}
                    </a>
