.dropdown-menu li a {
    display: block;
}

.dropdown-menu li a:hover {
    /* background-color: #9bd5f7; */
    color: #333;
    display: block;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>a>img,
#update_avatar > div > div > div.modal-body > div > a > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
